.searchInputWrapper {
	position: relative;
}
.searchInputWrapper img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 29px;
}
.searchInputWrapper button {
	background: none;
	border: none;
}

.searchInput {
	width: 30.75rem;
	height: 2.875rem;
	font-size: 14px;
	font-weight: 400;
	color: #ededed;
	background: var(--color-dark-light);
	border-radius: 10px;
	border: none;
	outline: none;
	padding-left: 63px;
}

.searchInput::placeholder {
	color: #ededed;
}