.todayWeatherCard {
  width: 280px;
  background: #bbd7ec;
  height: 226px;
  border-radius: 25px;
}

.todayCartTop {
  padding: 18px 14px;
  background: #aecadf;
  display: flex;
  justify-content: space-between;
  height: 56px;
  border-radius: 25px 25px 0 0;
  margin-bottom: 12px;
}

.todayCartTop p {
  font-weight: 600;
  font-size: 16px;
  color: #0f0f11;
}

.Degree {
  display: flex;
  justify-content: space-between;
  max-width: 229px;
  margin: 0 auto;
}

.Degree p {
  font-weight: 600;
  font-size: 36px;
  color: #0f0f11;
}

.weatherDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weatherDetails ul li {
  font-size: 14px;
  color: #4f5658;
}

.mainDetails {
  margin-left: 16px;
}

.sunriseSunset {
  margin-right: 8px;
}

.value {
  font-weight: 600;
  color: #0f0f11;
}
